body {
	font-family: 'Inter', sans-serif;
}

.bg-brand-blue {
	background-color: #3b82f6;
}

.text-brand-blue {
	color: #3b82f6;
}

.hover\:bg-brand-blue-dark:hover {
	background-color: #2563eb;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.no-scrollbar::-webkit-scrollbar {
	display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
	-ms-overflow-style: none; /* IE and Edge */
	scrollbar-width: none; /* Firefox */
}
